/* ./src/index.css */

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply overflow-hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  border: 0px none #ffffff;
  border-radius: 0px;
  @apply bg-black-light-15 bg-opacity-20;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-black-light-15 bg-opacity-30;
}
::-webkit-scrollbar-thumb:active {
  @apply bg-black-light-15 bg-opacity-30;
}
::-webkit-scrollbar-track {
  border-radius: 0px;
  @apply bg-black-base;
}
::-webkit-scrollbar-track:hover {
  @apply bg-black-base;
}
::-webkit-scrollbar-track:active {
  @apply bg-black-base;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.rotate-up-enter-from,
.rotate-up-leave-to {
  transform: rotate3d(1, 0, 0, 45deg) scale(0.95);
  opacity: 0;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-up-enter-from,
.fade-up-leave-to {
  transform: translateY(-15px);
  opacity: 0;
}

.fade-down-enter-from,
.fade-down-leave-to {
  transform: translateY(15px);
  opacity: 0;
}

.fade-left-enter-from,
.fade-left-leave-to {
  transform: translateX(-15px);
  opacity: 0;
}

.fade-right-enter-from,
.fade-right-leave-to {
  transform: translateX(15px);
  opacity: 0;
}

.fade-x-enter-from {
  transform: translateX(-15px);
  opacity: 0;
}

.fade-x-leave-to {
  transform: translateX(15px);
  opacity: 0;
}

.fade-y-enter-from {
  transform: translateY(-15px);
  opacity: 0;
}

.fade-y-leave-to {
  transform: translateY(15px);
  opacity: 0;
}

.fade-y-leave-active,
.fade-x-leave-active,
.fade-right-leave-active,
.fade-left-leave-active,
.fade-up-leave-active,
.fade-down-leave-active,
.rotate-up-leave-active {
  position: absolute;
}
